* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #ffffff;
}

header {
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(145, 0, 181);
}
