* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  --color-principal: rgb(255, 115, 0);
  --fondo-negro: rgb(30, 30, 30);
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p,
li {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 30px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  color: white;
  background-color: var(--color-principal);
  cursor: pointer;
}

button:hover {
  background-color: rgb(210, 94, 0);
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: var(--color-principal);
}

header {
  background-color: rgb(255, 240, 225)
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 1.6em;
}

#logo-codeCrafters {
  color: var(--color-principal);
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: var(--color-principal);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  /* Cambia dependiendo de cada pantalla */
  color: white;
  /* Fondo para que se vean las letras del hero */
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(media/hero.jpg);
  background-size: cover;
  /* Escalar la imagen para cubrir el contenedor */
  background-position: center center;
  /* Centrar la imagen */
  background-repeat: no-repeat;
}

#hero button {
  font-size: 1.8em;
}

#somos-code .container {
  text-align: center;
  padding: 250px 12px;
}

#proyectos {
  background-color: var(--fondo-negro);
  color: white;
  text-align: center;
}

#proyectos .container {
  padding: 100px 12px;
}

#proyectos h2 {
  margin-top: 0;
}

#proyectos p {
  display: none;
}

#proyectos .carta {
  background-size: cover;
  /* Escalar la imagen para cubrir el contenedor */
  background-position: center center;
  /* Centrar la imagen */
  background-repeat: no-repeat;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(media/frontend.jpg);
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(media/backend.jpg);
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(media/fullstack.jpg);
}

#caracteristicas .container {
  text-align: center;
  padding: 200px 12px;
}

#caracteristicas li {
  margin: 16px 0px;
  font-weight: bold;
}

#caracteristicas ul {
  padding-inline-start: 0;
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--fondo-negro);
  color: white;
  height: 80vh;
}

#final h2 {
  font-size: 6vw;
  /* Relativo a la pantalla */
}

#final button {
  font-size: 3vw;
}

footer {
  background-color: rgb(211, 211, 211);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Significa que cuando la pantalla supere los 720 px se aplica lo siguiente */
@media (min-width:720px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1 {
    font-size: 4em;
  }

  #somos-code .container {
    display: flex;
    justify-content: space-evenly;
  }

  #somos-code .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  #somos-code h2 {
    margin-top: 0;
  }

  #somos-code .img-container {
    background-image: url(media/somos-code.jpg);
    background-position: center center;
    background-size: cover;
    height: 450px;
    width: 400px;
  }

  #proyectos .programas-cartas {
    display: flex;
    justify-content: center;
  }

  #proyectos p {
    display: block;
    margin-bottom: 30px;
  }

  #proyectos h3 {
    margin-top: 0;
  }

  #proyectos h2 {
    font-size: 3em;
  }

  #proyectos .carta {
    padding: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  }

  #caracteristicas .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  #caracteristicas .lista {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
  }

  #caracteristicas .img-container {
    background-image: url(media/caracteristicas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 400px;
  }

  #final h2 {
    font-size: 4em;
  }

  #final button {
    font-size: 2em;
  }

  footer .container {
    justify-content: flex-end;
  }
}